<div class="mid">
  <div class="jumbotron">
    <br />
    <h1 class="display-4" style="color: MediumTurquoise; font-size: 29px;">
      Sucsses to send verification request
    </h1>
    <hr class="my-4" />
    <p class="lead" style="color: MediumTurquoise; font-size: 20px;">
      your request will be verified by the team and you will get a verification
      email as soon as possible
    </p>
    <br />
    <br />
    <div class="loader left"></div>
    <br />
    <br />
    <br />
    <button type="button" class="btn btn-info lefts" (click)="disconect()">
      disconect
    </button>
  </div>
</div>
